<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867181633829-7u7a7pau0jrrtcdgubkm6i4hcb34e4u2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867181633829-7u7a7pau0jrrtcdgubkm6i4hcb34e4u2</string>
	<key>API_KEY</key>
	<string>AIzaSyAu8ukO1qMqoX8qTkBqpLCP6fUhkwlBbEc</string>
	<key>GCM_SENDER_ID</key>
	<string>867181633829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sebastianpartyka.calendarx</string>
	<key>PROJECT_ID</key>
	<string>calendarx-79812</string>
	<key>STORAGE_BUCKET</key>
	<string>calendarx-79812.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867181633829:ios:3b3ba8a3a728c34e7e7acc</string>
</dict>
</plist>